<!DOCTYPE html>
<html>
<body background="https://cdn.culture.ru/images/2d2d7128-4782-5937-a35b-ff9c27a4a29c"><center>
<head>
    <title>Правила игры "2048"</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }

        h1 {
            color: black;
        }

        p {
            margin: 10px 0;
        }

        .rules {
            border: 1px solid #333333;
            padding: 20px;
            margin: auto;
            width: 50%;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <h1>Правила игры "2048"</h1>
    <div class="rules">
        <p>1. Игровое поле представляет собой сетку 4x4, на которой отображаются числа. Начальное игровое поле содержит два числа, которые обычно равны 2 или 4.</p>
        <p>2. Игрок может передвигать числа в любом направлении (вверх, вниз, влево, вправо), при этом все числа сдвигаются в выбранном направлении как можно дальше до тех пор, пока они не столкнутся с краем поля или другим числом.</p>
        <p>3. Когда два числа с одинаковым значением сталкиваются друг с другом во время передвижения, они объединяются в одно число, равное сумме их значений. Например, если два числа 2 будут объединены, то в результате получится число 4.
</p>
        <p>4. Цель игры - получить число 2048, объединяя числа, пока не достигнете этого значения.Игра завершается, когда на игровом поле не остается свободных клеток и не возможно сделать ход, который приведет к объединению чисел.</p>
        <p>5. Важно планировать свои ходы таким образом, чтобы избежать заполнения поля и продолжить объединять числа для достижения максимального значения. Приятной игры!</p>   
 </div>
</body>
</html>