<!DOCTYPE html>
<html>
<body background="https://cdn.culture.ru/images/2d2d7128-4782-5937-a35b-ff9c27a4a29c"><center>
<head>
    <title>Правила игры "Тетрис"</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: white;
        }

        h1 {
            color: black;;
        }

        p {
            margin: 10px 0;
        }

        .rules {
            border: 1px solid #333333;
            padding: 20px;
            margin: auto;
            width: 50%;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <h1>Правила игры "Тетрис"</h1>
    <div class="rules">
        <p>1. Цель игры: цель игры "Тетрис" - заполнить горизонтальные линии на поле игры без пробелов, чтобы они исчезли.</p>
        <p>2. Фигуры: в игре используются различные геометрические фигуры, состоящие из четырех квадратов. Фигуры могут быть разной формы, таких как Т-образные, L-образные, квадратные и другие.</p>
        <p>3. Управление фигурами: игрок может поворачивать и перемещать фигуры вверх, вниз, влево или вправо, чтобы поместить их на нужное место на поле игры.</p>
        <p>4. Скорость: со временем фигуры начинают падать быстрее и быстрее, что усложняет игру.</p>
        <p>5.Использование клавиш: для управления фигурами в "Тетрисе" используются следующие клавиши:
- Стрелка влево: перемещение фигуры влево;
- Стрелка вправо: перемещение фигуры вправо;
- Стрелка вниз: ускорение падения фигуры;
- Стрелка вверх или клавиша "X" или "Z": поворот фигуры по часовой стрелке или против часовой стрелки</p>
<p>6. Очки: за каждую заполненную линию игрок получает очки. Чем больше линий он заполняет одновременно, тем больше очков он набирает.</p>
<p>7. Проигрыш: игра заканчивается, когда новая фигура не может поместиться на поле из-за накопившихся блоков.</p>
<p> "Тетрис" - это игра, требующая быстрых реакций, стратегического мышления и умения планировать действия заранее. Надеюсь, эти правила помогут вам лучше понять игру и насладиться ее процессом. Удачи!</p>
    </div>
</body>
</html>