<!DOCTYPE html>
<html>
<body background="https://cdn.culture.ru/images/2d2d7128-4782-5937-a35b-ff9c27a4a29c"><center>
<head>
    <title>Правила игры "Змейка"</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }

        h1 {
            color: black;;
        }

        p {
            margin: 10px 0;
        }

        .rules {
            border: 1px solid #333333;
            padding: 20px;
            margin: auto;
            width: 50%;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <h1>Правила игры "Змейка"</h1>
    <div class="rules">
        <p>1. Управляйте змейкой с помощью клавиш со стрелками на клавиатуре.</p>
        <p>2. Собирайте зеленую пищу, чтобы увеличивать длину змейки и набирать очки.</p>
        <p>3. Избегайте столкновения со стенами и самим собой.</p>
        <p>4. Игра окончена, если змейка столкнулась со стеной или сама с собой.</p>
        <p>5. Приятной игры!</p>   
</div>
</body>
</html>